production:
  adapter: sqlite3
  database: /var/sqlite3/db.sqlite3
  pool: 5
  timeout: 5000

#
# Development specific
#
development:
  adapter: sqlite3
  database: /var/sqlite3/db.sqlite3
  pool: 5
  timeout: 5000



